<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact</title>

        <!--Remy Sharp Shim --> 
        <!--[if lte IE 9]> 
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" >
        </script> 
        <![endif]-->
        <link href="css/styles.css" type="text/css" rel="stylesheet">    
		<meta name="viewport" content="width=device-width; initial-scale=1.0" > 

		<!-- font --> 
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script>
		$(document).ready(function(){
			$(".nav-button").click(function () {
			$(".nav-button,.primary-nav").toggleClass("open");
			});    
		});
		</script>
		
    </head>
    <body>
		<header>
			<div id="head">
				<img src="images/logo.png" alt="logo">
			</div>
		</header>
		
		<nav>
			<ul>
				<li>
					<a href="index.html">
						Home
					</a>
				</li>
				<li>
					<a href="about.html">
						About
					</a>
				</li>
				<li>
					<a href="portfolio.html">
						Portfolio
					</a>
				</li>
				<li>
					Contact
				</li>
			</ul>
		</nav>
<!--++++++++++ START MOBILE NAVIGATION ++++++++-->		
		<button class="nav-button">Toggle Navigation</button>
		<div class="mobile-logo"> 
			<a href="index.html" title="Home">
			<img src="images/logo-small.png" alt="small logo">
			</a>
		</div>
		<ul class="primary-nav">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About Us</a>
			</li>
			<li><a href="portfolio.html">Portfolio</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
<!--++++++++++ END MOBILE NAVIGATION ++++++++-->
	<div id="wrapper">
		<aside>
			<h3 class="head">
				Turn around
			</h3>	
			<p>
				I will respond to all contact requests in approximately one to two business days.
			</p>
		</aside>
		<main class="contact">
			<form action="formhandler.php" method="post">
				<fieldset>
					<legend> Contact Anthony </legend>
						<input type="text" Name="name" placeholder="Name">
						<input type="text" Name="telephone" placeholder="Telephone">
						<input type="email" Name="email" placeholder="Email">
						<textarea name="comments" rows="8" placeholder="Comments"></textarea>

<!-- ++++++++++ Submit button ++++++++ -->   	
						<input class="submit" type="submit" value="Submit!">
					</fieldset>
			</form>
			
		</main>
		
		
		</div>
		        
        <footer>
			<ul>
				<li>
					Copyright 2016 &copy; 
				</li>
				<li>
					All rights reserved 
				</li>
				<li>
					<a href="index.html">Design by Anthony</a>
				</li>					
			</ul>	
			
		</footer>
		</body>
</html>