<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Assignment Not Completed</title>

		<!--Remy Sharp Shim --> 
		<!--[if lte IE 9]> 
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" >
			</script> 
		<![endif]-->
		<!-- CSS is linked -->
			<link href="css/reset.css" type="text/css" rel="stylesheet">
			<link href="css/styles.css" type="text/css" rel="stylesheet">
	</head>
	<body>

		<div id="wrapper">
			<header>
				<h1 id="H">
					WEB120 Portal Page
				</h1>
			</header>
			<nav>
				<ul>
					<li>
						<a href="index.html">
							Home
						</a>
					</li>
					<li>
						<a href="assignments.html">	
							Assignments
						</a>
						<ul class="sub-nav">
							<li>
								<a href="assignment2/index.html">Look and Feel</a>
							</li>
							<li>
								<a href="index.html">Drop Down based on hover!</a>
							</li>
							<li>
								<a href="assignment4/index.php">Dynamic PHP 5 page website</a>
							</li>
							<li>
								<a href="test/index.html">Test</a>
							</li>
							<li>
								<a href="assignment6/index.html">Responsive Page!</a>
							</li>
							<li>
								<a href="wiresite.html">My Wireframes and Sitemap.</a>
							</li>
							<li>
								<a href="submitted.html">Part 1 of the Final Project</a>
							</li>
							<li>
								<a href="submitted.html">Clear Box Extra Credit!</a>
							</li>
							<li>
								<a href="submitted.html">Final Project</a>
							</li>	
						</ul>
					</li>
					<li>
						<a href="contact.html">Contact</a>
					</li>					
				</ul>
			</nav>

			<main>
				<h2>
					The Assignment selected has not been completed
				</h2>
				
				<p>
					If you are seeing this page, the assignement that you selected has not been submitted yet. Please check back later.
				</p>
			</main>
			
			<aside> 
				<h3>
					Assignments Completed
				</h3>
				<ul id="completion">
					<li>
						Portal Page
					</li>
				</ul>
			</aside>
			
			
			<footer>
				<ul>
					<li>
						Copyright 2016 &copy; 
					</li>
					<li>
						All rights reserved 
					</li>
					<li>
						<a href="../index.html">Design by Anthony</a>
					</li>					
				</ul>
				<a href="https://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fanthonydevelopedthis.com%2Fweb120%2Fsubmitted.html&profile=css3&usermedium=all&warning=1&vextwarning=&lang=en" title="Click here to see validation of CSS">
					<img id="css" src="images/cssbadge.png" alt="CSS Validation">
				</a>	
				<a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fanthonydevelopedthis.com%2Fweb120%2Fsubmitted.html" title="Click here to see validation of HTML">
					<img id="html" src="images/htmlbadge.png" alt="HTML Validation">
				</a>				
			</footer>	
		</div>
	</body>
</html>